
.paginationContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  margin: 100px;
}

.title {
  margin: 2rem 0;
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
}
